<h1>New addition</h1>

<form action="/wizard_add">
  <label for="alice">Add this:</label>
  <input id="alice" name="first_num">
  
  <label for="bob">to this:</label>
  <input id="bob" name="second_num">
  
  <button>Add!</button>
</form>