<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="alice">Multiply this:</label>
  <input id="alice" name="first_num">
  
  <label for="bob">by this:</label>
  <input id="bob" name="second_num">
  
  <button>Multiply!</button>
</form>