<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="alice">Subtract this:</label>
  <input id="alice" name="first_num">
  
  <label for="bob">from this:</label>
  <input id="bob" name="second_num">
  
  <button>Subtract!</button>
</form>